@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');
@import url(//db.onlinewebfonts.com/c/0744a43ed7aac352ec78c1404c890d72?family=Gilroy+Light);

:root {
  --ct-primary: #122E4E;
  --ct-secondary:#0077D5;
  --ct-text: #FFFFFF;
  --ct-success: #629D00;
}

body {
  font-family: 'Days One', days-one; 
}

.app {
  height: 41.667vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
}

.app-background-content {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
}

.app-content-60 {
  padding-top: 3vw;
  padding-bottom: 2vw;
  text-align: center;
}

.app-content {
  padding-top: 12.63vw;
}

.app-label-content {
  padding-top: 2.1vw;
}

.navbar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding-right: 1%;
  z-index: 0;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 400;
  line-height: 1.2;
}

h1, .h1 {
  font-size: 4.5rem;
  color: var(--ct-text);
}
@media (min-width : 30px) {
  h1, .h1 {
    font-size: 1rem;
  }
}
@media (min-width : 320px) {
  h1, .h1 {
    font-size: 1.23rem;
  }
}
@media (min-width : 480px) {
  h1, .h1 {
    font-size: 1.9rem;
  }
}
@media (min-width : 768px) {
  h1, .h1 {
    font-size: 3rem;
  }
}
@media (min-width : 992px) {
  h1, .h1 {
    font-size: 4rem;
  }
}
@media (min-width : 1200px) {
  h1, .h1 {
    font-size: 4.5rem;
  }
}
@media (min-width : 1400px) {
  h1, .h1 {
    font-size: 4.5rem;
  }
}

h2, .h2 {
  font-size: 2.5rem;
  color: var(--ct-text);
}
@media (min-width : 30px) {
  h2, .h2 {
    font-size: 0.56rem;
  }
}
@media (min-width : 320px) {
  h2, .h2 {
    font-size: 0.68rem;
  }
}
@media (min-width : 480px) {
  h2, .h2 {
    font-size: 1.06rem;
  }
}
@media (min-width : 768px) {
  h2, .h2 {
    font-size: 1.67rem;
  }
}
@media (min-width : 992px) {
  h2, .h2 {
    font-size: 2.22rem;
  }
}
@media (min-width : 1200px) {
  h2, .h2 {
    font-size: 2.5rem;
  }
}
@media (min-width : 1400px) {
  h2, .h2 {
    font-size: 2.5rem;
  }
}

h3, .h3 {
  font-size: 2rem;
}
@media (min-width : 30px) {
  h3, .h3 {
    font-size: 0.55rem;
  }
}
@media (min-width : 320px) {
  h3, .h3 {
    font-size: 0.55rem;
  }
}
@media (min-width : 480px) {
  h3, .h3 {
    font-size: 0.84rem;
  }
}
@media (min-width : 768px) {
  h3, .h3 {
    font-size: 1.33rem;
  }
}
@media (min-width : 992px) {
  h3, .h3 {
    font-size: 1.78rem;
  }
}
@media (min-width : 1200px) {
  h3, .h3 {
    font-size: 2rem;
  }
}
@media (min-width : 1400px) {
  h3, .h3 {
    font-size: 2rem;
  }
}

h4, .h4 {
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  h4, .h4 {
    font-size: 1.5rem;
  }
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

.navbar-background-is-active {
  background-color: var(--ct-primary);
}

.navbar-background-no-active {
  background-color: null;
}

.nav-link {
  font-family: 'Gilroy-Light', sans-serif;
  color: var(--ct-text);
  font-style: normal;
}

.navbar-brand {
  font-size: 1.5rem;
}

.navbar-light .navbar-brand {
  color: var(--ct-text);
  font-style: normal;
}
.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
  font-size: 1.5rem;
  color: var(--ct-text);
}

.navbar-light .navbar-nav .nav-link {
  padding-right: 1.25rem;
  padding-left: 1.25rem;
  font-size: 1.5rem;
  color: var(--ct-text);
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: var(--ct-success);
  text-decoration: underline ;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: var(--ct-text);
} 

.custom-line-for-navbar {
  width: 100%;
  background-color: var(--ct-primary);
}