@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');
@import url('https://db.onlinewebfonts.com/c/1dc8ecd8056a5ea7aa7de1db42b5b639?family=Gilroy');

:root {
  --ct-primary: #122E4E;
  --ct-secondary:#0077D5;
  --ct-text: #FFFFFF;
  --ct-success: #629D00;
}

body {
  font-family: 'Days One', days-one;
}

.bg-logo {
  background-image: url("assets/Rectangle.png");

  /*How To Make A Responsive Background Image Using CSS*/
}

















.navbar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 0;
}

h1, .h1 {
  color: var(--ct-text);
  font-size: 3.75vw;
  font-style: normal;
  font-weight: 400;
}

.navbar-background-is-active {
  background-color: var(--ct-primary);
}

.navbar-background-no-active {
  background-color: null;
}

.nav-link {
  font-family: 'Gilroy';
  color: var(--ct-text);
  font-style: normal;
}

.navbar-brand {
  font-size: 1.5rem;
}

.navbar-light .navbar-brand {
  color: var(--ct-text);
  font-style: normal;
}
.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
  font-size: 1.5rem;
  color: var(--ct-text);
}

.navbar-light .navbar-nav .nav-link {
  padding-right: 1.25rem;
  padding-left: 1.25rem;
  font-size: 1.5rem;
  color: var(--ct-text);
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: var(--ct-success);
  text-decoration: underline ;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: var(--ct-text);
} 

.custom-line-for-navbar {
  width: 100%;
  background-color: var(--ct-primary);
}